@font-face {
  font-family: IRANSansX;
  src: url("../fonts//IRANSansX-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: IRANSansX;
  src: url("../fonts//IRANSansX-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: IRANSansX;
  src: url("../fonts//IRANSansX-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
